*.pyc
*.npy
*.npz
*.tar
*.gz
*.zip
*.prototxt
*.log
*.tif
*.png
*.JPEG
*.jpg
*.mdb
*.swp
*.out
*.pth
*.7z
*.xml
*.h5
*.qdrep
*.qdstrm
*.json
*.gif
*.hdf5
*.mp4
*.csv
experiments/detection/gen1_demo
experiments/*/workspace
experiments/*/debug
experiments/*/data/*/*
hmnet/utils/psee_toolbox
!experiments/*/data/*/scripts
